apiVersion: apps/v1
kind: Deployment
metadata:
  name: jm-other
  labels:
    app: {{ include "cromwell.name" . }}-jm-deployment
spec:
  replicas: {{ .Values.jobManager.replicas }}
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: job-manager
  template:
    metadata:
      labels:
        app: job-manager
    spec:
      containers:

      - name: job-manager-api
        image: {{ .Values.jobManager.apiImage }}
        imagePullPolicy: Always
        args: ["-b", ":8190", "-t", "60", "-w", "{{ .Values.gunicornWorkers }}", "-k", "{{ .Values.gunicornWorkertype }}"]
        # args: ["-b", ":8190", "-t", "60"] # Gunicorn arguments go into env variables
        ports:
        - containerPort: 8190
        volumeMounts:
        - name: jm-api-config-map
          mountPath: /etc/job-manager/api
          readOnly: true
        - name: jm-api-config-map
          mountPath: /etc/job-manager/capabilities/capabilities-config.json
          readOnly: true
        env:
        - name: PATH_PREFIX
          value: "/api/v1"
        - name: PYTHONDONTWRITEBYTECODE
          value: "1"
        - name: USE_CAAS
          value: "false"
        - name: CROMWELL_CREDENTIALS
          value: /etc/job-manager/api/config.json
        - name: CROMWELL_URL
          value: {{ .Release.Name }}-{{ template "cromwell.fullname" . }}
        - name: CAPABILITIES_CONFIG
          value: /etc/job-manager/capabilities/capabilities-config.json

      - name: job-manager-ui
        image: {{ .Values.jobManager.uiImage }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        volumeMounts:
        - name: jm-api-config-map
          mountPath: /etc/nginx/
          readOnly: true
        - name: jm-api-config-map
          mountPath: /ui/dist/assets/environments/
          readOnly: true
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 15
          timeoutSeconds: 10
      terminationGracePeriodSeconds: 0
      volumes:
      - name: jm-api-config-map
        config-map:
          name: {{ template "cromwell.fullname" . }}-job-manager-api-configuration
      - name: jm-ui-config-map
        config-map:
          name: {{ template "cromwell.fullname" . }}-job-manager-ui-configuration
